<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Brian Alexander</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    
    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Learn To Dive</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">¿Estas listo para la aventura?</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Brian Alexander Instructor PADI</h2>
            <p class="text-white-50">Actualmente me dedico a la impartición de cursos de buceo PADI. Si te interesa entrenarte en sitios increibles bajo el mar, mejorar y tener un mayor control en el agua tanto en superficie como bajo de ella, estas en el lugar indicado.<br>
          Certificate conmigo para obtener una de las licencias de buceo mas prestigiosas de todo el mundo.</p>
          </div>
        </div>
        <img src="<%= asset_path 'once.jpg' %>" class="img-fluid" alt="">
      </div>
    </section>
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="text-white-50">Únete a un ahora a este gran equipo, fórmate para alcanzar las mejores certificaciones del mundo y seraz reconocido a nivel mundial por tu certificación</p>
          </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid" src="" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Pro</h4>
              <p class="text-black-50 mb-0">Bucearas junto conmigo y tus compañeros de buceo, para aprender las habilidades y tecnicas correctas y más utilizadas por los mejores buceadores del munndo.</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= asset_path 'trece.jpg'%>"alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Únete ahora</h4>
                  <p class="mb-0 text-white-50">Registrate sin compromiso y únete al Club más avanzado en cuanto a entrenamientos y teoria de buceo, para enterarte de mis servicios, niveles y certificaciones.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= asset_path 'img_buceo.jpg'%>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Equipate completo</h4>
                  <p class="mb-0 text-white-50">Inicia sesión y forma parte del Club, increibles cursos y niveles de entrenamiento te esperan, descubre el que más te paresca y solicitalo. Formaras parte de nuestro sistema y te uniras a una increible familia.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= asset_path 'img_buceo2.jpg'%>"alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Certificación PADI</h4>
                  <p class="mb-0 text-white-50">Una certificación como ésta, te permitira ser reconocido como buceador deportivo en todo el mundo. No esperes más y bucea donde quieras que vallas con tu Open Water Diver.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="<%= asset_path 'uno.jpg'%>" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Avanza y sube tu nivel</h4>
                  <p class="mb-0 text-white-50">Si eres de los que no se conforman con nada, y tienen la bara alta, es porque el buceo es para ti. Registrate y conoce como empezar</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Aumenta tus capacidades</h2>
            <p class="text-white-50">Descubre porque el buceo hará de ti una mejor persona.</p>
          </div>
        </div>
        <img src="<%= asset_path 'dos.jpg' %>" class="img-fluid" alt="">
      </div>
    </section>

    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="text-white-50">No esperes más, contactame a mi mail o mandame un wsp. Estare feliz de responderte y explicarte los pasos a seguir para empezar a bucear.
            Acompañame a mi, crea un equipo de amigos especializados en esta increible aventura por los oceanos del mundo. Porque ésto es solo el principio de una nueva aventura.</p>
    </section>




<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="<%= asset_path 'tres.jpg'%>"alt="">
  </div>
  <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">Empieza ya!</h4>
          <p class="jope">Asegura tu puesto en el bote, chequea el aire, tu equipo, a tu compañero y sumerjete en las profundidades de nuestro mar formando parte de un equipo especializado.</p>
          <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
      </div>
    </div>
  </div>
</div>




    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Contactame ahora, quedo atento a tus preguntas</h2>



          </div>
        </div>
      </div>
    </section>



    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Santiago</h4>
                <hr class="my-4">
                <div class="small text-black-50">Santiago de Chile</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">zalaquett.brian@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Contacto</h4>
                <hr class="my-4">
                <div class="small text-black-50">+569 76545423</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Brian Alexander 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
